.top-header{
    display: none;
}
@media (max-width:739px){
    .sidebar-top{
        display: flex;
        height: 45px;
        width: 115px;
        padding: 0px;
    }
    .instagram-logo{
        width: 100%;
    }
    .top-header{
        padding: 0px 16px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        flex-direction: row;
        border-bottom: solid;
        border-color: rgb(110, 110, 110, 0.5);
        border-width: 0.01px;
        background-color: black;
        justify-content: space-between;
        align-items: center;
        
        
        
    }
    .searchbar-notification-container{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-shrink: 0;
    }
    .topheader-notification-container{
        height: 24px;
        width: 24px;
    }
    .topheader-notification{
        height: 24px;
        width: 24px;
        cursor: pointer;
    }
    .topheader-notification:hover{
        height: 26px;
        width: 26px;
        transition: 0.5s;
    }
    
    .topheader-searchbox-container{
        position: relative;
        height: 34px;
        display: flex;
        flex: 1;
        
    }
    .topheader-searchbox{
        position: relative;
        background-color: rgb(65, 65, 65);
        color: white;
        border: none;
        height: 34px;
        padding-left: 34px;
        border-radius: 10px;
        flex: 1;
        
    }
    .topheader-search-logo-container{
        height: 17px;
        width: 17px; 
        position: absolute;
        top: 21px;
        padding-left: 10px;
    }
    .topheader-searchbox:focus{
        outline: none;
    }
    
}
@media (max-width:485px){
    .sidebar-top{
        display: none;
    }
    .top-header{
        justify-content: center;
        
    }
}